<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <link href="/dist/css/style.css" rel="stylesheet"/>
    <script src="/libs/angular/angular.min.js"></script>
</head>
<body>

{{{body}}}

</body>
</html>